<div class="container">
  <h1>Nazwa projektu</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend ex tortor, ut sodales nisl elementum nec. In hac habitasse platea dictumst. Donec id neque enim. Donec finibus libero ex, id dictum dolor lobortis in. Proin placerat luctus semper. Fusce commodo eros vel felis dapibus fringilla. Pellentesque quis justo vel purus volutpat elementum. Nunc condimentum, orci eget pharetra dapibus, eros nisi mattis nisl, laoreet aliquam lectus justo vitae ante. Aliquam eget vehicula purus, blandit viverra tortor.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus finibus eros feugiat leo auctor, nec luctus leo ullamcorper. Curabitur urna lorem, tempor non sagittis id, suscipit eu erat. Praesent consequat odio imperdiet quam varius, sit amet sollicitudin velit venenatis. Sed at pulvinar ante. Sed sed mauris eu orci vulputate semper. Aliquam condimentum, magna quis ultrices viverra, arcu neque tempus enim, id aliquam velit felis quis risus. Vestibulum ut rutrum ligula.
  </p>
  <div>
    <a href="https://twitter.com/MaksymMalicki">@MaksymMalicki</a>
    <a href="https://twitter.com/kamilchmielu">@kamilchmielu</a>
    <a href="https://twitter.com/dnuszkiewicz">@dnuszkiewicz</a>
  </div>

</div>
