<div class="container">
  <div class="row">
    <div class="col">
      <div class="h1 text-center">Nazwa projektu</div>
      <p class="description text-center">
        There are billions of dollars of value locked in thousands of protocols. True security experts however can be counted in just the hundreds. As beginners in the space, we have found it hard to find high-quality resources about good practices in solidity. High-quality code is scattered across many repositories on Github, but it's not that easy to find if you don't know what to look for.
        This project aims to make Ethereum more secure by providing easy access to such resources for developers and auditors.
        Right now Twitter is the main source of knowledge for many people. It is a great place to interact with content creators, but that platform has one problem. Tweets are volatile. It's both easy to lose valuable information and get distracted in the process.
        We want security experts to create content on the permaweb and give writers and readers the ability to vote on the highest quality content to make it truly stand out.
        Each user has a certain amount of votes every month to distribute. This way content creators will be rewarded by getting into the hall of fame with the highest amount of votes.
      </p>
      <div class="twitter-links">
        <a href="https://twitter.com/MaksymMalicki" class="twitter-link">@MaksymMalicki</a>
        <a href="https://twitter.com/kamilchmielu" class="twitter-link">@kamilchmielu</a>
        <a href="https://twitter.com/dnuszkiewicz" class="twitter-link">@dnuszkiewicz</a>
      </div>
    </div>
  </div>






</div>
