<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-7">
      <div class="navbar">
        <div class="container">


          <a class="nav-item" [routerLink]="['/monthly-posts']" routerLinkActive="is-active">
            <div>Posts</div>
          </a>

          <!-- <div class="divider"></div>

    <a class="nav-item"
       [routerLink]="['/archive']"
       routerLinkActive="is-active"
    >
      <div>Archive</div>
    </a> -->

          <div class="divider"></div>

          <a class="nav-item" [routerLink]="['/about-project']" routerLinkActive="is-active">
            <div>About</div>
          </a>
          <div class="divider"></div>
          <a class="nav-item">
            <div class="nav-wallet" [ngSwitch]="walletConnectService.walletConnected">
              <!-- <a [routerLink]="['/profile']" *ngSwitchCase="true"> -->
              <div *ngSwitchCase="true">
                <div>Profile: {{walletConnectService.userAuthState.address | truncate: 15}}</div>
              </div>
              <!-- </a> -->
              <div class="nav-connect-wallet" *ngSwitchCase="false">
                <button class="btn btn-dark" (click)="connectToWallet()">Connect wallet</button>
              </div>

            </div>
          </a>

        </div>



      </div>
    </div>
  </div>
</div>