<div *ngIf="monthlyPosts != undefined">


  <div class="row justify-content-center">
    <div class="col-9">
      <div *ngFor="let postData of monthlyPosts">
        <div class="post-block-container container">



          <div class="post-block">
            <span class="post-title">{{postData.title}}</span>
            <span class="post-meta"><b>Timestamp:</b> {{postData.timestamp}}, <br><b>Author</b>: {{postData.author}}</span>
            <span class="post-excerpt">{{postData.content}}</span>
            <a [routerLink]="['/post', postData.id]" class="post-cta">Read more!</a>
          </div>
          <div class="connect-line"></div>

        </div>

      </div>


    </div>
  </div>
</div>